@use '@angular/material' as mat;
@use 'tailwindcss';
@use '../../delisha-marie/src/theme-1' as delisha-marie;
@use '../../delisha-marie/src/app-theme';

:root {
  color-scheme: dark;
  @include mat.theme((
    color: (
      theme-type: dark,
      primary: delisha-marie.$primary-palette,
      tertiary: delisha-marie.$tertiary-palette,
    ),
    typography: 'Outfit',
    density: 0,
  ));
}

.light-theme {
  color-scheme: light;
  @include mat.theme-overrides((
    color: (
      theme-type: light,
      primary: delisha-marie.$primary-palette,
      tertiary: delisha-marie.$tertiary-palette,
    ),
  ));
}

html {
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
}

body {
  color-scheme: dark;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  margin: 0;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  transition: background-color 0.3s ease, color 0.3s ease;
}
